doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title crud_12
        link(rel="stylesheet", href="css/styles.css")
    body 
        section.createArea
            form(action="/postCreate", method="get")
                button.createArea_btn(type="submit") 추가하기
            if (status)
                each data in list 
                    form(action=`/postDetail/${data._id}`)
                        input(type="submit", value=data.title)
                    h4 #{data.description}
                    hr
            else 
                h1 WE FAILD CALL DATA IN DATABASE            